
/*
GENERAL
*/


.facebook, .google, .insta, .twitter img {
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
 
}

.facebook:hover, .google:hover, .insta:hover, .twitter:hover img {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}


body
{
font-family: 'Open Sans',  sans-serif;
}

#wrapper
{
    max-width: 940px;
    margin: 0 auto;
    background-color: #003366;
    padding: 0 5%;
}

a
{
   text-decoration: none;
   font-family: 'Open Sans',  sans-serif;
}

img
{
    max-width: 100%;
}

h3
{
    margin: 0 0 1em 0;
}

/*
HEADER
*/

#header
{
    float:left;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    position:fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#top-margin {
    margin-top: 150px;
}

#logo
{
    text-align: center;
    margin: 0px;
}

h1
{
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    font-size: 2.5em;
}

.img {
    width: 1000px;
    height: auto;
}

body {
    background-color: #2E2E2E;
}

h2
{
font-size: 1.50em;
margin: -5px 0 0;
margin-bottom: 20px;
font-weight: normal;
}

/*
NAVAGATION
*/

nav 
{
text-align: center;
padding: 10px 0;
margin: 20px 0px 0px;

}

nav ul
{
  list-style: none;  
  padding:  10px 0;
  margin: 0px 0 0;
}

nav li
{
    display: inline-block;
}

nav a
{
    font-weight: 800;
    padding: 15px 10px;

}

/*
FOOTER
*/

footer
{
font-size: 0.75em;
text-align: center;
padding-top: 50px;
color: grey;
clear: both;
}

.social-media-icon
{
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.social-media-icon-1
{
  width:35px;
  height: 30px;
  margin: 0 5px;
}
/*
PAGE PORTFOLIO
*/

#gallery
{
    margin: 10px;
    padding: 0px;
    list-style: none;
}

#gallery li
{
    float: left;
    width:45%;
    margin: 2.5%;
    color: #bdc3c7;
}

#gallery li a p
{
   margin: 0;
   padding: 5%;
   font-size: 0.75em;
   color: black;
}

.profile-photo
{
    display: block;
    max-width: 0 auto 90px;
    border-radius: 15%;
}

/*
CONTACT PAGE
*/

.contact-info
{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a
{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.Gmail a
{
    background-image: url('../img/Gmail.png');
}

.contact-info li.Twitter a
{
    background-image: url('../img/Twitter.png');
}

.contact-info li.Instagram a
{
    background-image: url('../img/Instagram.jpg');
}

/*
COLORS
*/

body
{
 background-color: #2E2E2E;
 color: #999;
}

a
{
   color: #6AD9A5; 
}

#header
{
    background-color: dimgrey;
}

h1,h2
{
  color: #fff;  
}

nav
{
 background: silver;    
}

nav a, nav a:visited{
    color: #fff;
}

nav a.selected, nav a:hover{
    color: black ; 
}

/*
MEDIA QUERIE
*/
/*
TWO COLUMN LAYOUT
*/
@media screen and (min-width:480px)
{
    #primary
    {
        width: 20%;
        float: left;
    }
    
    #secondary 
    {
        width: 40%;
        float: right;
    }
    
    #gallery li 
    {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n)
    {
        clear: left;
    }
    .profile-photo 
    {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 600px)
{
    nav
    {
        background: none;
        float: right;
        font-size: 1.25em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo
    {
        float: left;
        margin-left: 5%;
        text-align:left;
        width: 45%;
        
    }

    #header
    {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}

#portfolio
{
    font-size: 2.5em;
}

#landing-page
{
    font-size: 2.5em;
}

#header-icon
{
    width: 32px;
    height: 32px; 
}

#myCarousel
{
    width: 600px;
    height: auto;
    margin-left: 500px;
    
}













* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	
}

.container {
	max-width:400px;
        width:100%;
	margin: 0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	margin-top: 50px;
	padding:25px;

}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
